<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
      <script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>

    <title>PicFiiii</title>
  </head>
  <body id="bodyy">
    <div class="container">
        <h1 id="title-name"> PicFiiii</h1>
        <h3 style='color: blanchedalmond;'>Online Image - Filter Tool!</h3>
      </div>

      <div class="jumbotron" style="padding:50px;margin:80px;height:400px;">
        <div class="row">
          <div class="col-sm">
             <img id="imagebox" width="300" height="300"  src="">
          </div>    
          <div class="col-sm">
            <div class="dropdown">
              Basic Filters gives your image a way to emphasize certain features! Apply Basic Filters to make Your Image look even more precise!!<br /><br/>
              <select id="basic" class="btn" onchange="applyFilter();" style="font-size: 17px;">
                <option>Basic Filters</option>
                <option value="blur" class="dropdown-item" style="background-color: #f1f1f1;" >Blur</option>
                <option value="sharpen" class="dropdown-item" style="background-color: #f1f1f1;" >Sharpen</option>
                <option value="negate" class="dropdown-item" style="background-color: #f1f1f1;">Negate</option>
                <option value="outline" class="dropdown-item" style="background-color: #f1f1f1;">Outline</option>
                <option value="custom" class="dropdown-item" style="background-color: #f1f1f1;">Custom</option>
                <option value="emboss" class="dropdown-item" style="background-color: #f1f1f1;" >Emboss</option>
            </select>
            </div>
          </div>
          <div class="col-sm">
            <div class="dropdown">
            Advanced Filters makes your image look more attractives! Try some of our advanced filters to make your image a good looking one ;)<br/><br/>
              <select id="advance" class="btn" onchange="applyFilter();" style="font-size: 17px;">
                <option>Advanced Filters</option>
                <option value="cartoon" class="dropdown-item" style="background-color: #f1f1f1;" >Cartoonification</option>
                <option value="pencil" class="dropdown-item" style="background-color: #f1f1f1;" >Pencil Sketch</option>
                <option value="edge" class="dropdown-item" style="background-color: #f1f1f1;">Edge detect</option>
            </select>
            </div>
          </div>
          
        </div>
      </div>


    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
      >
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

  </body>
<script>
    
    $(document).ready(function(){
		imagebox = $('#imagebox')
        console.log("test")
        var data = 0
			$.ajax({
				url: "http://localhost:5000/maskImage", // fix this to your liking
				type:"POST",
				data: data,
				cache: false,
				processData:false,
				contentType:false,
				error: function(data){
					console.log("upload error" , data);
					console.log(data.getAllResponseHeaders());
				},
				success: function(data){
					// alert("hello"); // if it's failing on actual server check your server FIREWALL + SET UP CORS
					bytestring = data['status']
					image = bytestring.split('\'')[1]
					imagebox.attr('src' , 'data:image/jpeg;base64,'+image)
				}
			});
		
});

function applyFilter(){
    var basicFilter = document.getElementById('basic').value;
    var advancedFilter = document.getElementById('advance').value;
    console.log(advancedFilter);
}
  
</script>    
    
</html>
